* {
  box-sizing: border-box;
  font-family: Oswald, Arial, sans-serif;
  text-decoration-line: none;
}

html, body {
  margin: 0;
}

main {
  margin-top: 40px;
}

.search-bar-container {
  text-align: center;
}

.search-city-button {
  background-color: #d26c22;
  color: white;
}

.search-bar-item-style {
  height: 35px;
  border-radius: 5px;
  vertical-align: middle;
  border: 1px solid #d26c22;
}

.weather-data-container {
  margin: 50px auto 0px auto;
  width: 1000px;
  min-width: 950px;
}

.current-weather-container {
  display: inline-block;
  vertical-align: top;
  min-width: 250px;
  color: #646464;
  /*background-color: #f6f6f6;*/
}

.forecast-weather-container {
  display: inline-block;
  vertical-align: top;
  min-width: 700px;
  /*background-color: #f6f6f6;*/
}

.current-weather-title {
  font-size: 23px;
  vertical-align: top;
}

.inline-block {
  display: inline-block;
}

.current-Descrip-Text {
  margin: 0 0 13px 0;
}

.current-weather-container table {
  font-size: 14px;
  border-collapse: collapse;
}

.current-weather-container td {
  padding : 5px;
  border: 1px solid #d5d5d5;
}

.background-color-gray {
  background-color: #f0f0f0;
}

.fore-weather-title {
  font-size: 23px;
  color: #d26c22;
}

.fore-weather-subtitle {
  font-size: 18px;
  color: #646464;
}

.fore-tag-list {
  padding: 0px;
  margin-bottom: 26px;
}

.forecast-tag {
  color: #868686;
  padding: 8px;
  margin: 0px 2px;
  border-bottom: 1px solid #868686;
}

.forecast-tag:hover {
  color: #646464;
  border-bottom: 1px solid #d26c22;
  transition: 0.5s;
}

.forecast-tag:active {
  color: #d26c22;
  border-bottom: 1px solid #d26c22;
}

.forecast-weather-container table {
  color: #646464;
  font-size: 14px;
  width: 750px;
  border-collapse: collapse;
}

.fore-hourly-info-td {
  padding: 0px 15px;
  vertical-align: middle;
  border-bottom: 1px solid #d5d5d5;
}

.forecast-weather-container img {
  vertical-align: middle;
  margin-left: 5px;
}

.forecast-temp {
  font-size: 11px;
  color: white;
  padding: 3px 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #999;
}

.fore-hourly-date-td {
  border: 1px solid #d5d5d5;
  background-color: #f5f5f5;
  padding: 10px 15px;
}

.tag-content-show {
  display: block;
}

.tag-content-hidden {
  display: none;
}

.fore-main-chart-container {
  max-width: 100%;
  height: 250px;
}

.fore-main-info-container {
  margin-left: 12px;
  /*background-color: pink;*/
}

.fore-main-icon-section {
  margin: 0px 2.5px;
}

.fore-main-icon-section p {
  text-align: center;
  font-size: 11px;
  margin: 2px 0px;
}

.color-light-gray {
  color: #808080;
}
